<h2>Home<h2>
<br/>
<h3>My todo list</h3>
    <p><hr size="3"/></p>
    Not done:<br />
    <% @not_done.each do |item| %>
    <%= check_box("item", "done", "onclick" => "document.location.href='toggle_check/#{item.id}'") %>
    <%= item.description %>
    <%= link_to("Edit", :action => "edit", :id => item.id) %>
    <%= link_to("Destroy", { :controller => "todos", :action => "destroy", :id => item.id }, :confirm => "Are you sure you want to delete this entry: #{item.description}") %>
    <br />
    <% end %>

    <p><hr size="3"/><p>

    Done:<br />
    <% @done.each do |item| %>
    <%= check_box("item", "done", "onclick" => "document.location.href='toggle_check/#{item.id}'") %>
    <%= item.description %>
    <%= link_to("Edit", :action => "edit", :id => item.id) %>
    <%= link_to("Destroy", {:controller => "todos", :action => "destroy", :id => item.id }, :confirm => "Are you sure you want to delete this entry: #{item.description}") %>
    <br />
    <% end %>

   <p><hr size="3"/></p>
    <form method="post" action="add_item">
      New item: Done?
	  <%=check_box("item","done")%>
      <%= text_field("new_item", "description") %>
      <input type="submit" value="Add item">
    </form>